@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

.backround-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.backroundImg,
.backroungFade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.landing-text-container {
  position: absolute;
  text-align: left;
  top: 0%;
  left: 50%;
  z-index: 1;
  cursor: default;
}

.title {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  margin-bottom: 10px;

  color: #336089;
}

.flavour-text {
  color: #336089;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;

  padding-right: 25%;
}

.search-bar-container {
  position: relative;
  background-image: url("src/assets/Searchbar.png");
  background-repeat: no-repeat;
  margin-top: 90px;
  height: 100px;
  width: 899px;
  display: flex;
  align-items: center;
}

.search-bar-container input[type="text"] {
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  font-family: "Merriweather", serif;
  color: #336089;
  font-size: 40px;
  margin-left: auto;
  padding-right: 40px;
}

.search-button {
  position: absolute;
  background-image: url("src/assets/Search.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  height: 70px;
  width: 70px;
  left: 40px;
  cursor: pointer;
}

.search-button:hover {
  filter: brightness(70%);
  transform: scale(1.1);
}

.button-container {
  position: relative;
  margin-top: 15px;
  margin-left: 40px;
  align-items: center;
  display: flex;
}

.filter-button,
.guide-button {
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.filter-button:hover,
.guide-button:hover {
  filter: brightness(70%);
  transform: scale(1.1);
}

.filter-button {
  background-image: url("src/assets/Filters.png");
}

.guide-button {
  background-image: url("src/assets/Details.png");
}
